# National Health and Nutrition Examination Survey (NHANES)
[https://wwwn.cdc.gov/nchs/nhanes/](https://wwwn.cdc.gov/nchs/nhanes/)

Este laboratório usará dados extraídos do NHANES.

## NHANES datasets from 2013-2014

Foram extraídos dados do [NHANES 2013-2014](https://wwwn.cdc.gov/nchs/nhanes/continuousnhanes/default.aspx?BeginYear=2013).

Os dados estão disponíveis em arquivos CSV no diretório `/data/nhanes`. Lá está disponível a documentação do esquema dos arquivos.

# Tarefa 1 - Esquema Relacional

Analise os arquivos CSV que estão no diretório `/data/nhanes` e escreva um esquema relacional referente às tabelas, suas chaves primárias e estrangeiras (não é SQL ainda). Coloque a chave primária com dois underlines antes e dois depois:

\__teste\__

Pessoa(_id_,gender,age)
Drogas(_code_,name)
Uso(_person_id_, _drug_code_,days_use)
    CHE: person_id(Indivíduo)
    CHE: drug_code(Drogas)

## Criação das Tabelas em SQL e Importação de Dados

Considere o seguinte exemplo em que é criada uma tabela em SQL e importado dados do arquivo CSV `demographic-person.csv`.

In [1]:
%defaultDatasource jdbc:h2:mem:db

In [3]:
DROP TABLE IF EXISTS Pessoa;
CREATE TABLE Pessoa (
  Id VARCHAR(5) NOT NULL,
  Gender INTEGER,
  Age INTEGER,
  PRIMARY KEY(Id)
) AS SELECT
    id,
    gender,
    age
FROM CSVREAD('./demographic-person.csv');

Environment variable $DATABASE_URL not set, and no connect string given.
Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

In [3]:
SELECT * FROM Pessoa;

# Tarefa 2 - Criação das Tabelas em SQL e Importação de Dados

Escreva instruções SQL para montar as duas tabelas restante, conforme definido no esquema relacional da **Tarefa 1**.

**Importante:** não defina chave primária para a tabela de uso de medicamento.

Durante a criação das tabelas, realize a importação dos dados do arquivo CSV nas tabelas criadas, conforme exemplo anterior.

In [6]:
DROP TABLE IF EXISTS Drogas;
CREATE TABLE Drogas (
  code VARCHAR(6),
  name VARCHAR(200),
  PRIMARY KEY(code)
) AS SELECT
    code,
    name
FROM CSVREAD('./medications-drug.csv');

CREATE TABLE Uso(
    person_id VARCHAR(5) NOT NULL,
    drug_code VARCHAR(6) NOT NULL,
    days_use INTEGER,
    FOREIGN KEY(person_id)
        REFERENCES Pessoa(Id)
            ON DELETE NO ACTION
            ON UPDATE NO ACTION,
    FOREIGN KEY(drug_code)
        REFERENCES Drogas(code)
            ON DELETE NO ACTION
            ON UPDATE NO ACTION,
) AS SELECT
    person_id,
    drug_code,
    days_use

FROM CSVREAD('./medications-use.csv');

# Tarefa 3 - Consultas Simples

Execute as consultas a seguir.

a) Liste pessoas com idade acima de 60

In [8]:
SELECT * FROM Pessoa 
    WHERE Pessoa.Age > 60

b) Liste as idades das pessoas cadastradas (sem repetições)

In [9]:
SELECT DISTINCT Pessoa.Age FROM Pessoa

c) Liste código das pessoas, idade, código dos medicamentos que usaram e dias de uso

In [11]:
SELECT Pessoa.Id, Pessoa.Age, Uso.drug_code, Uso.days_use
    FROM Pessoa, Uso
    WHERE Pessoa.Id = Uso.person_id;

d) Liste código das Pessoas, idade, nome dos medicamentos que usaram e quantos dias de uso

In [12]:
SELECT Pessoa.Id, Pessoa.Age, Drogas.name, Uso.days_use
    FROM Pessoa , Drogas, Uso
    WHERE Pessoa.Id = Uso.person_id AND Drogas.code = Uso.drug_code;

e) Liste nome dos medicamentos que foram usados por pessoas (sem repetições)

In [16]:
SELECT DISTINCT Drogas.Name
    FROM Drogas, Uso
    WHERE Drogas.code = Uso.drug_code

f) Liste nome dos medicamentos usados por mais de 2.000 dias (sem repetições)

In [17]:
SELECT DISTINCT Drogas.name
    FROM Uso, Drogas
    WHERE Uso.days_use > 2000 AND Drogas.code = Uso.drug_code